{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>IIMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style media="screen">
    .img{
      margin-left: 300px
    }
  </style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">IIMS</a>
    </div>
    {% if request.user.is_authenticated %}
    <ul class="nav navbar-nav">
      <li><a href="{% url 'logOut' %}">Logout</a></li>
    </ul>

    {% else %}
    <ul class="nav navbar-nav">
      <li><a href="{% url 'login' %}">Login</a></li>
    </ul>
    {% endif %}
  </div>
</nav>

<div class="container">
{% block content %}
  <img class="img" src="{% static 'img/iims.png'%}">
{% endblock %}
</div>


</body>
</html>
